certifi==2018.4.16
chardet==3.0.4
click==6.7
cycler==0.10.0
flloat==0.1.3.post7
future==0.16.0
graphviz==0.8.3
gym==0.10.5
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
opencv-python==3.4.0.14
pandas==0.23.0
ply==3.11
pydot==1.2.4
pygame==1.9.3
pyglet==1.3.2
pyparsing==2.2.0
pythomata==0.1.4.post7
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
rltg==0.1.2.post1
scipy==1.1.0
seaborn==0.8.1
six==1.11.0
urllib3==1.22

git+https://github.com/MarcoFavorito/RLGames@master#egg=RLGames